<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naiveadmin.server.mapper.SysUserRoleMapper">
    
    <!-- 通过用户ID删除用户和角色关联 -->
    <delete id="deleteUserRoleByUserId">
        DELETE FROM sys_user_role WHERE user_id = #{userId}
    </delete>
    
    <!-- 批量删除用户和角色关联 -->
    <delete id="deleteUserRole">
        DELETE FROM sys_user_role WHERE user_id IN
        <foreach collection="list" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
    
    <!-- 批量新增用户角色信息 -->
    <insert id="batchUserRole">
        INSERT INTO sys_user_role(user_id, role_id) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.userId}, #{item.roleId})
        </foreach>
    </insert>
    
    <!-- 删除用户和角色关联信息 -->
    <delete id="deleteUserRoleInfo">
        DELETE FROM sys_user_role 
        WHERE user_id = #{userId} AND role_id = #{roleId}
    </delete>
    
    <!-- 批量取消授权用户角色 -->
    <delete id="deleteUserRoleInfos">
        DELETE FROM sys_user_role 
        WHERE role_id = #{roleId} AND user_id IN
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
</mapper> 